
.container{
    display: flex;
    flex-direction: column;
    background-color: #024059;
    background-color: green;
    justify-content: center;
    align-items: center;
    h1{
        text-align: center;
        font-weight: 300;
        font-family: sans-serif;
        color: white;
        margin-bottom: 30px;
    }
    .containerInput{
        display: flex;
        width: 100%;
        .input{
            margin-left: 30px;
            width: 100%;
           
            label{
                color: white;
            }
            input{
                width: 90%;
                height: 5vh;
                font-size: 16px;
            }
        }
        
       
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
         width: 220px;
        height: 30px;
        background-color: #024059;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 20px;
        
            a{
                text-align: center;
                 color: white;
            }
    }  
}

@media (max-width: 600px){

    .container{
        display: flex;
        flex-direction: column;
        .containerInput{
            display: flex;
            flex-direction: column;
            .input{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin-bottom: 30px;
                margin-left: 15px;  
                input{
                    height: 5vh;
                }
                label{
                    color: white;
                }
            } 
        }
    }
}